
@keyframes fadeIn {
   from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }

}

.fadeOut {
    -webkit-animation-name: fadeout;
    animation-name: fadeout;
} 

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
     }
     to {
        opacity: 0;
     }
}
 
@keyframes fadeout {
    from {
        opacity: 1
     }
     to {
        opacity: 0;
     }

}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
} 

@-webkit-keyframes fadeIn {
   from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
}

@keyframes fadeIn {
   from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }

}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
} 

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
     }
     50% {
        opacity: 1;
        -webkit-transform: translateY(-20px);
     }
     100% {
        -webkit-transform: translateY(0);
     }
}
 
@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(2000px);
     }
     50% {
        opacity: 1;
        transform: translateY(-20px);
     }
     100% {
         opacity: 1;
        transform: translateY(0);
     }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
} 

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
     }
     60% {
        opacity: 1;
        -webkit-transform: translateY(-10px);
     }
     100% {
        -webkit-transform: translateY(2000px);
     }
}
 
@keyframes bounceInDown {
    0% {
        opacity: 1;
        transform: translateY(0);
     }
     60% {
        opacity: 1;
        transform: translateY(-10px);
     }
     100% {
        transform: translateY(2000px);
     }
}
.pulsate1 {
   -webkit-animation-name: pulsate1;
   animation-name: pulsate1;
} 

@-webkit-keyframes pulsate1 {
   0% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: 1;
     box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
     opacity: 0;
     box-shadow: none;
 
   }
 }
 
 @keyframes pulsate1 {
   0% {
     -webkit-transform: scale(0.6);
     transform: scale(0.6);
     opacity: 1;
     box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
   }
   100% {
     -webkit-transform: scale(1, 1);
     transform: scale(1);
     opacity: 0;
     box-shadow: none;
 
   }
 }