
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

.showInteractive{
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.5);
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animatedShow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.lineAnimation {
    font-size: 50px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.lineAnimation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.lineAnimation:hover::after {
    width: 100%;
    transition: width 0.3s;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .icon{
        width:12px;
        margin: 2px;
    }
    .divIcon{
        margin: 5px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .icon{
        width:18px;
    }
    .divIcon{
        margin: 10px;
    }
  }
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px)and (max-width : 1024px) {
    .icon{
        width:22px;
    }
    .divIcon{
        margin: 20px;
    }
}

@media only screen and (min-width : 1024px)and (max-width : 1366px) {
    .icon{
        width:25px;
    }
    .divIcon{
        margin: 20px;
    }
}
  
