.introBackground{
    background: -webkit-linear-gradient(top, rgba(35,39,54,0.55) 0%,rgba(35,39,54,1) 77%,rgba(35,39,54,1) 100%);
    background: linear-gradient(to bottom, rgba(35,39,54,0.55)0%,rgba(35,39,54,1) 77%,rgba(35,39,54,1)100%);
    padding: 0 !important;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 5;
}
.introPlayer{
    position:relative;
    width:100%;
}
.introText{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 40%;
}
.videoHowto{
    pointer-events: none;
    margin: 10%;
    border: 10px azure solid;
    border-radius: 10px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
}
.introMenu{
    position: absolute;
    top: 5%;
    right: 5%;
}

.introMenu2{
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 10;
}

.introHowto{   
    width: 100%;
    text-align: center;
}

.introTextHowto{
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 50px;
}

.introH1{
    text-transform: capitalize;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 80px;
}
.introP{
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
}
.introButton{
    width: 200px;
    margin: 40px;
    padding: 12px;
    letter-spacing: 2px;
    color: #fff;
    border: 2px #fff solid;
    background:none;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
    transition:         0.09s ease-in;
    -o-transition:      0.09s ease-in;
    -ms-transition:     0.09s ease-in;
    -moz-transition:    0.09s ease-in;
    -webkit-transition: 0.09s ease-in;
}
.introButton:hover{
    background:#fff;
    color:#000 ;
     
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .introH1{
        font-size: 30px;
    }
    .introTextHowto{
        font-size: 30px;
    }
    .introP{
        font-size: 12px;
    }
  }
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px)and (max-width : 1024px) {
    .introTextHowto{
        font-size: 35px;
    }
    .introH1{
        font-size: 35px;
    }
    .introP{
        font-size: 14px;
    }
}
  
@media only screen and (min-width : 320px) and (max-width : 1024px) {
    .introPlayer{
        display: none;
    }
    .intro{
        background-image: url("../image/1.jpeg");
        height: 100vh; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .introText{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
    }
}


 