.text{
    background: none;
    position:absolute;
    z-index:5;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
}
.textBox{
    width:50%;
    text-align:center;
}
.textTitle{
    font-size:100px;
    color: #fff;
    margin:0;
}
.textDescription{
    font-size:20px;
    color: #fff;
}
.textButton{
    width: 200px;
    height: 80px;
    font-size: 20px;
    border: 3px solid #fff;
    background: none;
    color: #fff;
    margin: 0 50px;
}
.textButton:hover{
    background-color: #fff;
    color:#000;
    cursor:pointer;
}
@media screen and (min-width :768px) and (max-width : 1024px) {
    .textButton{
        margin: 0 5px;
        width: 70px;
        height: 30px;
        font-size: 10px;
        border: 2px solid #fff;
    }
    .textTitle{
        font-size:50px;
    }
    .textDescription{
        font-size:15px;
    }    
}

@media screen and (max-width : 767px) {
    .textButton{
        margin: 0 5px;
        width: 50px;
        height: 20px;
        font-size: 10px;
        border: 2px solid #fff;
    }
    .textTitle{
        font-size:15px;
    }
    .textDescription{
        font-size:10px;
    }     
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
